/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */

:root{
  --color-body-mobile:rgb(218,49,49);
  --color-body-ipad: rgb(215, 215, 86);
  --color-body-desktop: rgb(40, 39, 39);

  --font-color-mobile: rgb(232, 229, 229);
  --font-color-ipad: rgb(23, 23, 23);
  --font-color-desktop: rgb(232, 229, 229);

  --tablet: 37.5em;
  --desktop: 62.50em;
}

body{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-body-mobile);
}

body{
  font-size: 16em;
  color: var(--font-color-mobile);
}

@media screen and (min-width: 37.5em) {
  body {
    color: var(--font-color-ipad);
    background-color: var(--color-body-ipad);
  }
}


@media screen and (min-width: 62.50em) {
  body {
    color: var(--font-color-desktop);
    background-color: var(--color-body-desktop);
  }
}

